@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


:root{

    --primary-font:"Nunito Sans", sans-serif;
    --primary-color: #0069b1;
    --secondary-color: #44546A;
    --success-color: #21A179;
    --danger-color: #DF2935;
    --warning-color: #FFDD4A;
    --info-color: #009CA6;
    --black-color: #1B1A17;
    --light-color: #f2E8CF;
    --body-color: #F8F9FA;
    --white-color: white;
}

body{
    padding-bottom: 50px;
    font-family: var(--primary-font);
    background: var(--body-color);
}
.nav-main{
    font-size: 15px;
    color: var(--white-color);
    background-color: var(--primary-color);
}
#offcanvasScrolling {
    width: 250px; /* Ancho personalizado */
}
.btn-offcanvas {
    background-color: #e9edf0; 
    border-color: #313a46;
    color: #8391a2;
  }
.btn-offcanvas:hover {
    background-color: #8391a2; /* Color del hover */
    border-color: #2f3642; /* Color del borde en hover */
    color: #ffffff; /* Color del texto en hover */
  }
.icono-style {
    font-size: 18px;
    color: var(--light-color); /* Color inicial del icono */
    transition: color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.icono-style:hover {
    color: var(--success-color); /* Color del icono al hacer hover */
    transform: scale(1.2); /* Agrandar el icono al hacer hover */
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--black-color);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}
    
.stylecard{
    height: 130px;
    max-height: 130px;
    min-width: 30px;
}
.stylecard:hover{
    background-color: #0069B1; /* Color del hover */
    border-color: #2f3642; /* Color del borde en hover */
    color: #ffffff; /* Color del texto en hover */
    border-radius: 5px; /* Cambia el radio del borde al hacer hover */

}
